html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    width:100%;
    height:100%;
}

.imgPlane {
  display:block;
  height:100%;
  margin-left: auto;
  margin-right: auto;
}

.imgWrapper{
  width:70%;
  height:100%;
}

.title {
  position: absolute;
  left:20px;
  top:20px;
  width:70%;
  font-family: Impact, Charcoal, sans-serif;
  color:orange;
}

.map {
  border: 1px solid black;
  right:0px;
  top:0px;
  height:100%;
  width:30% !important;
}

.mapSmall {
  border: 1px solid black;
  width:100% !important;
  height:500px;
}

.imgWrapperSmall{
  width:100%;
  height:100%;
}
