<!DOCTYPE html>
<html>
<head>
<title>Nootjes avontuurtjes</title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}"/>
</head>
<body>
<div class="wrapper">
  <h1 class='title'>"{{title}}"</h1>
  <img src="{{url}}" class="imgPlane">
</div>
<div>
  <iframe width="100%" height="500px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=12.309472560882568%2C45.43012695803626%2C12.331573963165285%2C45.44348229750384&amp;layer=mapnik" style="border: 1px solid black"></iframe>
</div>
</body>
</html>
